body {
  margin: 0 auto;
  text-align: center;
}

.screen {
  position: relative;
  width: 800px;
  height: 800px;
  border: 1px solid black;
  margin-top: 10px;
}

#ship {
  position: absolute;
  display: block;
  width:  60px;
  height: 60px;
  top: 400px;
  left: 370px;
}

.bullet {
  position: absolute;
  border-radius: 2.5px;
  width: 5px;
  height: 5px;
  background-color: black;
}
